* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("20220718_154259.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 1.25em;
}

.nevjegy {
    width: 450px;
    background-color: hsla(0, 0%, 100%, .7);
    border-radius: 20px;
    box-shadow: 10px 10px 20px gray;
    max-width: calc(100vw - 10px);
    padding-bottom: 0.4rem;
}

.felso, .szoveg, .kozep {
    width: 90%;
    margin: 0 auto;
}

img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    transition: all 0.99s ease-in-out;
    border: 1px solid gray;
    filter: grayscale(50%);
}

img:hover {
    border: 2px solid black;
    transform: rotate(360deg) scale(1.1);
    filter: grayscale(10%);
}

p {
    text-align: justify;
}

.felso {
    position: relative;
    top: -80px;
    letter-spacing: .05em;
    line-height: 1em;
}

.nev, .linkek {
    text-align: center;
}

.nev {
    letter-spacing: .07em;
    line-height: 1.7em;;
}

.kozep {
    position: relative;
    top: -40px;
    border-top: 1px solid black;
    width: 95%;
}

.szoveg {
    padding-top: 0.9rem;
    letter-spacing: .04em;
    line-height: 1.3em;
}

.linkek {
    border-top: 1px solid black;
    width: 75%;
    margin: 0 auto;
    padding-top: 1.25rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    letter-spacing: .6em;
}

a {
    color: gray;    
}

h2 {
    padding-bottom: 0.81rem;
}


.fa-solid:hover {
    color: red;
}

.fa-brands:hover, .fa-solid:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

.fa-twitter:hover {
    color: rgb(29 161 242);
}

.fa-discord:hover {
    color: rgb(88, 101, 242);
}

.fa-facebook-f:hover {
    color: rgb(66 103 178);
}

.fa-instagram:hover {
    color: #833AB4;
}

.fa-github:hover {
    color:black;
}

@media (min-with: 992px) {
    body {
        height: 50vh;
    }
    
}